<div
  class="modal fade"
  id="addQuestionModal"
  tabindex="-1"
  aria-labelledby="addQuestionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addQuestionModalLabel">
          직접 문제 추가
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        action="/make/<%=exam._id%>"
        method="post"
        id="addQuestionForm"
        novalidate
      >
        <div class="modal-body">
          <div class="mb-3">
            <label for="question_add" class="form-label">문제</label>
            <textarea
              name="question"
              id="question_add"
              class="form-control"
              rows="3"
              required
            ></textarea>
            <div class="invalid-feedback"></div>
          </div>

          <% for (let i = 0; i < 5; i++) { %>
          <div class="form-check mb-3 d-flex align-items-center g-3">
            <input class="form-check-input" type="radio" name="answer"
            value="<%=i%>" id="radio_<%=i%>_add" <%= i === 0 ? 'checked' : '' %>
            />
            <input
              class="form-control d-inline ms-2"
              type="text"
              name="options[]"
              id="options_<%=i%>_add"
              placeholder="<%=i + 1 %>번 보기"
              required
            />
            <div class="invalid-feedback"></div>
          </div>

          <% } %>

          <div>
            <label for="explanation_add" class="form-label">해설</label>
            <textarea
              name="explanation"
              id="explanation_add"
              class="form-control"
              rows="5"
              required
            ></textarea>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary">추가하기</button>
        </div>
      </form>
    </div>
  </div>
</div>
