<div class="card mb-3">
  <strong class="card-header"
    ><%=q_index + 1%>. <%=question.question%> <%= question.answer ===
    selected[question._id] ? "⭕":"❌" %></strong
  >
  <div class="card-body">
    <% for (let [opt_index, option] of question.options.entries()) {%>
    <div class="form-check d-flex <%= opt_index === 4? '' : 'mb-2' %>">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" , name="<%=question._id%>"
        , value="<%=opt_index%>" disabled <%= String(opt_index) ===
        selected[question._id] ? "checked" : ""%> /><span
          class="badge ms-2 rounded-pill bg-secondary"
          ><%=opt_index + 1%></span
        >
        <%=option%><% if (question.answer === String(opt_index)) {%> ✅</label
      >
      <% } %>
    </div>
    <%}%>
  </div>
  <div class="card-footer"><%=question.explanation%></div>
</div>
