<form
  action="/exams/<%=exam._id%>/q/<%=question._id%>?_method=PUT"
  method="post"
>
  <h2><%=q_index + 1%>. <%=question.question%></h2>

  <label for="question">문제</label>
  <input
    type="text"
    name="question"
    id="question_<%=question._id%>"
    value="<%=question.question%>"
    required
  />
  <ul>
    <% for (let i = 1; i <= 5; i++) {%>
    <li>
      <input type="radio" name="answer"
      id="choice-radio-<%=i%>_<%=question._id%>" value="<%=i - 1%>" <%= String(i
      - 1) === question.answer ? "checked" :""%>>
      <input
        type="text"
        name="options[]"
        id="choice-text-<%=i%>_<%=question._id%>"
        value="<%=question.options[i - 1]%>"
        required
      />
    </li>
    <% } %>
  </ul>
  <label for="explanation_<%=question._id%>">해설</label>
  <textarea name="explanation" id="explanation_<%=question._id%>" rows="10">
<%=question.explanation%></textarea
  >
  <button>수정하기</button>
</form>
